/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  img {
    max-width: 20%;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  strong {
    display: block;
    margin-bottom: 0.5rem;
  }

  
  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
  }